div{
    display:flex;
    flex-direction: column;
    border:solid 2px;
    width:300px;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    background-color:rgb(238, 213, 252);
    border-radius: 10px;
}

button{
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    width:150px;
    color: rgb(255, 255, 255);
    background-color: rgb(124, 11, 185);
    margin:5px;
    border: none;
    border-radius: 10px;    
    cursor: pointer;
}

#count{
    font-size: 40px;

}

#entries{
    font-size: 20px;
}